[Unit]
Description=Exordos MetaPaaS Mail Server Configure
After=network-online.target exordos-bootstrap.service
Wants=network-online.target exordos-bootstrap.service
RequiresMountsFor=/persist /var/log
ConditionPathExists=/etc/exordos_metapaas/mail.env
AssertPathIsMountPoint=/persist
AssertPathIsMountPoint=/var/log

[Service]
Type=oneshot
EnvironmentFile=/etc/exordos_metapaas/mail.env
ExecStart=/usr/local/bin/exordos-mail-configure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
